body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #454545;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 30px;
}

#title h3 {
    font-size: 22px;
}

.calculator {
    width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}

input {
    background: none;
    border: none;
    box-shadow: none;
    width: 90%;
    border-bottom: 2px solid #111;
    padding: 20px;
    text-align: right;
    font-size: 40px;
}

.calculator-buttons {
    padding: 20px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 15px;
}

.buttons {
    background: rgba(0, 0, 0, 0.07);
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.clear {
    grid-column: span 3;
    background-color: blue;
    color: white;
    border: none;
}

.zero {
    grid-column: span 3;
}

.equals {
    background-color: green;
    color: white;
    border: none;
}