body {
    background-color: black;
}

#title {
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

#title h1 {
    font-size: 40px;
}

#title h3 {
    font-size: 32px;
}

main {
    text-align: center;
    margin-top: 30px;
}

main div {
    width: 20px;
    height: 20px;
    color: aliceblue;
    margin: 2px;
    background-color: rgb(34, 33, 33);
    display: inline-block;
}

.red:hover {
    background-color: red;
}

.green:hover {
    background-color: green;
}

.blue:hover {
    background-color: blue;
}

.purple:hover {
    background-color: purple;
}

.pink:hover {
    background-color: pink;
}