body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    color: #454545;
}

#title h1 {
    font-size: 30px;
}

#title h3 {
    font-size: 22px;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    margin: auto;
}

.keyboard {
    min-width: 750px;
    max-height: 1000px;
    border-radius: 10px;
    padding: 25px;
    background-color: #f5f5f5;
    box-shadow: -3px -3px 7px #fff,
        2px 2px 5px rgba(94, 104, 121, 0.288);

}

.keys {
    display: flex;
    justify-content: center;
}

input {
    height: 50px;
    padding: 20px;
    margin: 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: grey;
    text-transform: uppercase;
    background-color: #f5f5f5;
    box-shadow: -3px -3px 7px #fff,
        2px 2px 5px rgba(94, 104, 121, 0.288);
}

input:focus {
    font-size: 19px;
    box-shadow: inset -3px -3px 7px #fff,
        inset 2px 2px 5px rgba(94, 104, 121, 0.288);
    color: blue;
}

input[value="space"] {
    width: 60%;
}